@model List<PizzaViewModel>
@*@{
        ViewData["Title"] = "Index";
    }*@

<h2>@ViewData["Title"]</h2>
<hr />

@foreach (PizzaViewModel pizza in Model)
{
    <partial name="~/Views/Shared/Partials/_PizzaInfo.cshtml" for="@pizza" />
    <hr />
}
<hr />

<partial name="~/Views/Shared/Partials/_PizzaMessage.cshtml" />
